.about-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.about-text {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    text-align: center;
}

.about-text h1 {
    margin: 0;
    padding: 0;

}

.about-text p {
    color: #7A5E51;
    line-height: 1.6;
    margin-bottom: 1rem;
   
}


.wiki_link{
    background-color: #e9e2d9;
    color: #7a5e51;
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px

}

.wiki_link:hover, .wiki_link:focus{
    background-color: #7a5e51;
    color: #e9e2d9;
    outline: 2px solid #e9e2d9;
    text-decoration: underline;
}

.gallery {
    text-align: center;
}

/* .gallery h2 {
    color: #3A2622;
    margin-bottom: 1.5rem;
} */

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.gallery-grid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid #7A5E51;
    transition: transform 0.3s ease;
}

.gallery-grid img:hover, .gallery-grid img:focus {
    transform: scale(1.05);
}