.contact-header {
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1580933073521-dc49ac0d4e6a?q=80&w=2969&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.contact-header-text {
    background-color: #e9e2d9;
    padding: 0px 15px;
    border-radius: 10px;
}

.contact-header-text h1 {
    margin: 0;
}


/* html, body {
    background-color: #e9e2d9;
    color: #7a5e51;
    font-family: "Alegreya Sans", serif;
    text-align: center;
    font-size: 1.1rem;
} */



/* Contact text box */
.additional_message{
    /* background-color: #7a5e51;
    color: #e9e2d9;  */
    width: 70%;
    margin: 1.5rem auto;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: bold;
}

/* Contact Form */
.contact-form {
    background-color: #7A5e51;
    color: #d9c3b2;
    width: 75%;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: left;
    font-size: 1.6rem;
}

.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.6rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1.2rem;
    border: 1px solid #e9e2d9;
    border-radius: 5px;
    font-size: 1.1rem;
    max-width: 100%;
    min-width: 100%;


}

input, textarea{
    color: #3a2622;
    font-weight: bold;
}

/* Accessible visible focus style */
.contact-form input:focus, .contact-form input:hover,
.contact-form textarea:focus, .contact-form textarea:hover,
.contact-form button:focus, .contact-form button:hover {
    outline: 5px solid #3a2622;
}

/* Button */
.contact-form button {
    background-color: #e9e2d9;
    color: #7a5e51;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-form button:hover, .contact-form button:focus {
    background-color: #d9c3b2;
    color: #3a2622;
    outline: 3px solid #3a2622;
    text-decoration: underline;
    font-weight: bold;

}
