
body{
    background-color:#E9E2D9;
    color:#7A5E51;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* font css*/
p{
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2,h3{
    font-family: "Alegreya Sans", sans-serif;
    font-weight:bold;
    font-style: normal;
    text-decoration:underline;
    padding:0;
    font-size:25px;
}
.welcome-section{
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    text-align:center;
    background: linear-gradient(to top,#E9E2D9, #E9E2D9, #C8B59E);
    width:100%;
}
/* section --- css */
.grid-container{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr auto 1fr;
}
.coffeeshop-img{
    background-image:url("../img/coffeeshop.png");
}

/* css for the button that takes you to the about page */

#learn-more{
    color:#7A5E51;
    background-color:#D9C3B2;
    padding:6px 20px 6px 20px;
    border:solid #D9C3B2;
    border-radius: 10px;
    width:210px;
    background-image:none;
}

#learn-more:hover{
    background-color:#3A2622;
    transition: background 0.5s linear;
    border:solid #D9C3B2 2px;
    color:#D9C3B2;
    text-decoration:underline;
}
#learn-more:focus{
    background-color:#3A2622;
    transition: background 0.5s linear;
    border:solid #D9C3B2 2px;
    color:#D9C3B2;
    text-decoration:underline;
}

.holiday-specials{
    display:grid;
    flex-direction:column;

}

.info{
    text-align:center;
}

.hours{
    margin-bottom:30px;
    margin-top:20px;
}

.drink-one{
    background-image:url("../img/latte.jpg");
    width:32%;
    max-width:32%;
    height:130px;
    border-radius:50%;
    background-size:cover;
    background-position: center;
    border:#E9E2D9 solid;
    justify-self:center;
    padding:0;
    flex-direction:column;

}

.drink-two{
    background-image:url("../img/latte.jpg");
    width:32%;
    max-width:32%;
    height:130px;
    border-radius:50%;
    background-size:cover;
    background-position: center;
    border:#E9E2D9 solid;
    justify-self:center;
    padding:0;
    flex-direction:column;

}

.drink-three{
    background-image:url("../img/latte.jpg");
    width:32%;
    max-width:32%;
    height:130px;
    border-radius:50%;
    background-size:cover;
    background-position: center;
    border:#E9E2D9 solid;
    justify-self:center;
    padding:0;
    flex-direction:column;

}
h3{
    text-align:center;
}

h2{
    margin-top:40px;
}

#latte{
    text-align:center;
    margin:0;
}

#mocha{
    text-align:center;
    margin:0;
}

#pumpkin{
    text-align:center;
    margin:0;
}
