
body{
    background-color:#E9E2D9;
    color:#7A5E51;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* font css*/
p{
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size:3.1rem;
}
h2,h3{
    font-family: "Alegreya Sans", sans-serif;
    font-weight:bold;
    font-style: normal;
    text-decoration:underline;
    padding:0;
    font-size:25px;
}


.welcome-section{
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    text-align:center;
    background: linear-gradient(to top,#E9E2D9, #E9E2D9, #C8B59E);
    width:100%;
    grid-area:welcome-section;
}
/* section --- css */
.grid-container{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: auto 1fr auto auto auto auto;
    grid-template-areas:
    "welcome-section"
    "info"
    "holiday"
    "menu-button"
    "review-title"
    "testimonials";
}
/* .coffeeshop-img{
    background-image:url("../img/logo.png");
    width:70%;
    height:auto;
} */

/* css for the button that takes you to the about page */

#learn-more{
    color:#7A5E51;
    background-color:#D9C3B2;
    padding:6px 20px 6px 20px;
    border:solid #D9C3B2;
    border-radius: 10px;
    width:72%;
    max-width:72%;
    background-image:none;
}

#learn-more:hover, #learn-more:focus{
    background-color:#3A2622;
    transition: background 0.5s linear;
    border:solid #D9C3B2 2px;
    color:#D9C3B2;
    text-decoration:underline;
}
/* #learn-more:focus{
    background-color:#3A2622;
    transition: background 0.5s linear;
    border:solid #D9C3B2 2px;
    color:#D9C3B2;
    text-decoration:underline;
} */

.holiday-specials{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr auto 1fr auto 1fr auto;
    grid-template-areas: 
    "drink-one"
    "coffee1"
    "drink-two"
    "coffee2"
    "drink-three"
    "coffee3"

}

.coffee1{
    grid-area:coffee1;
}

.coffee2{
    grid-area:coffee2;
}

.coffee3{
    grid-area:coffee3;
}

#full-menu{
    color:#7A5E51;
    background-color:#D9C3B2;
    padding:6px 20px 6px 20px;
    border:solid #D9C3B2;
    border-radius: 10px;
    width:72%;
    max-width:72%;
    background-image:none;
}

#full-menu:hover, .full-menu:focus{
    background-color:#3A2622;
    transition: background 0.5s linear;
    border:solid #D9C3B2 2px;
    color:#D9C3B2;
    text-decoration:underline;

}
.info{
    text-align:center;
    grid-area: info;
}

.hours{
    margin-bottom:30px;
    margin-top:20px;
}

/* css for the holiday drinks */
.drink-one{
    background-image:url("../img/latte.jpg");
    width:41%;
    max-width:41%;
    height:130px;
    border-radius:50%;
    background-size:cover;
    background-position: center;
    border:#E9E2D9 solid;
    justify-self:center;
    padding:0;
    gap:10px;
    grid-area:drink-one;

}

.drink-two{
    background-image:url("../img/peppermint.jpg");
    width:41%;
    height:130px;
    border-radius:50%;
    background-size:cover;
    background-position: center;
    border:#E9E2D9 solid;
    justify-self:center;
    padding:0;
    grid-area:drink-two;

}

.drink-three{
    background-image:url("../img/pumpkin.jpg");
    width:41%;
    height:130px;
    border-radius:50%;
    background-size:cover;
    background-position: center;
    border:#E9E2D9 solid;
    justify-self:center;
    padding:0;
    grid-area:drink-three;

}
h3{
    text-align:center;
}

h2{
    margin-top:40px;
}

#latte{
    text-align:center;

}

#mocha{
    text-align:center;

}

#pumpkin{
    text-align:center;
}

.specials{
    grid-area:specials;
}
.holiday-specials{
    grid-area: holiday;
}

.menu-button{
    text-align:center;
    margin-bottom:50px;
}
.testimonials{
    grid-area:testimonials;
    /* css for the review cards  */
    display:grid;
    grid-template-columns:1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas:
    "card1"
    "card2"
    "card3";
}

.review-title{
    grid-area:review-title;
    display:grid;
    justify-content:center;
}

.card-1{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height:250px;
    grid-area:card1;
}
.card-2{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height:250px;
    grid-area:card2;
}

.card-3{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height:250px;
    grid-area:card3;
}

.username{
    font-size:18px;
}
.review-text{
    font-size:14px;
}

.review-date{
    font-size:12px;
}
@media screen and (min-width: 768px) {

.welcome-message{
    width:100%;
    text-align:left;
}
.holiday-specials{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "drink-one drink-two drink-three"
    "coffee1 coffee2 coffee3";
}

.testimonials{
    grid-area:testimonials;
    /* css for the review cards  */
    display:grid;
    grid-template-columns:1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    grid-template-areas:
    "card1 card2 card3";
}

.drink-one{
width:41%;
height:10x;
}
.drink-two{
width:41%;
height:10x;
}

.drink-three{
width:41%;
height:10x;
}

#learn-more{
    width:30%;
}

#full-menu{
    width:30%;
}

}