
body{
    background-color:#E9E2D9;
    color:#7A5E51;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* font css*/
p{
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2,h3{
    font-family: "Alegreya Sans", sans-serif;
    font-weight:bold;
    font-style: normal;
    text-decoration:underline;
    padding:0;
    font-size:25px;
}
.welcome-section{
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    text-align:center;
    background: linear-gradient(to top,#E9E2D9, #E9E2D9, #C8B59E);
    width:100%;
    grid-area:welcome-section;
}
/* section --- css */
.grid-container{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr auto 1fr;
    grid-template-areas:
    "welcome-section"
    "info"
    "holiday"
    "testimonials";
}
.coffeeshop-img{
    background-image:url("../img/logo.png");
    width:70%;
    height:auto;
}

/* css for the button that takes you to the about page */

#learn-more{
    color:#7A5E51;
    background-color:#D9C3B2;
    padding:6px 20px 6px 20px;
    border:solid #D9C3B2;
    border-radius: 10px;
    width:72%;
    max-width:72%;
    background-image:none;
}

#learn-more:hover{
    background-color:#3A2622;
    transition: background 0.5s linear;
    border:solid #D9C3B2 2px;
    color:#D9C3B2;
    text-decoration:underline;
}
#learn-more:focus{
    background-color:#3A2622;
    transition: background 0.5s linear;
    border:solid #D9C3B2 2px;
    color:#D9C3B2;
    text-decoration:underline;
}

.holiday-specials{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr auto 1fr auto 1fr auto;
    flex-direction:column;
    grid-template-areas: 
    "drink-one"
    "coffee1"
    "drink-two"
    "coffee2"
    "drink-three"
    "coffee3"

}

.coffee1{
    grid-area:coffee1;
}

.coffee2{
    grid-area:coffee2;
}

.coffee3{
    grid-area:coffee3;
}
.info{
    text-align:center;
    grid-area: info;
}

.hours{
    margin-bottom:30px;
    margin-top:20px;
}

.drink-one{
    background-image:url("../img/latte.jpg");
    width:32%;
    max-width:32%;
    height:130px;
    border-radius:50%;
    background-size:cover;
    background-position: center;
    border:#E9E2D9 solid;
    justify-self:center;
    padding:0;
    flex-direction:column;
    gap:10px;
    grid-area:"drink-one"

}

.drink-two{
    background-image:url("../img/latte.jpg");
    width:32%;
    max-width:32%;
    height:130px;
    border-radius:50%;
    background-size:cover;
    background-position: center;
    border:#E9E2D9 solid;
    justify-self:center;
    padding:0;
    flex-direction:column;
    grid-area:drink-two;

}

.drink-three{
    background-image:url("../img/latte.jpg");
    width:32%;
    max-width:32%;
    height:130px;
    border-radius:50%;
    background-size:cover;
    background-position: center;
    border:#E9E2D9 solid;
    justify-self:center;
    padding:0;
    flex-direction:column;
    grid-area:"drink-three";

}
h3{
    text-align:center;
}

h2{
    margin-top:40px;
}

#latte{
    text-align:center;

}

#mocha{
    text-align:center;

}

#pumpkin{
    text-align:center;
}

.specials{
    grid-area:specials;
}
.holiday-specials{
    grid-area: holiday;
}

.testimonials{
    grid-area:testimonials;
}
@media screen and (min-width: 768px) {


.holiday-specials{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "drink-one drink-two drink-three"
    "coffee1 coffee2 coffee3";
}

}
