

.menu-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    padding-left: 10px;
    padding-right: 10px; 
    padding-bottom: 0px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    margin: 0 auto;
    flex-direction: column;
}

.card {
    background: white;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid #7a5e51;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    margin: 20px;
    transition: transform 0.3s ease;
}
.holiday-card{
    border: 5px dashed #7a5e51 ;
    display: flex;
    flex-wrap: wrap;
}

.card:hover, .card:focus{
    transform: scale(1.1);
}

.card h2 {
    color: #5c3a21;
    text-align: center;
    border-bottom: 2px solid #e0d4c3;
    padding-bottom: 10px;
    /* margin-bottom: 15px; */
    font-family: "Merriweather", serif;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    flex-wrap: wrap;
    padding: 5px;
    text-align: left;
}

.item-special{
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    flex-wrap: nowrap;
    padding: 5px;
    text-align: left;    
}
.item-name {
    font-weight: bold;
}

.price {
    font-weight: bold;
}

.options {
    width: 100%;
    color: #7a5e51;
    padding-left: 20px;
}

.learn_button{
    background-color: #e9e2d9;
    color: #7a5e51;
    width: 60%;
    align-self: center;
    border-radius: 5px;
}

.learn_button:hover, .learn_button:focus{
    background-color: #7a5e51;
    color: #e9e2d9;
    outline: 2px solid #e9e2d9;
    text-decoration: underline;
}


@media screen and (min-width: 700px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;        
        gap: 30px;              
        padding-bottom: 30px;
        margin-left: 20px;
        margin-right: 30px;
        margin-bottom: 30px;
        font-size: 1.5rem;
        align-items: stretch;
    }

    .card, .holiday-card {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column
    } 
}

